#l1{
    background: rgb(0, 0, 255, 0.55);
}
#l2{
    background: rgb(0, 0, 255, 0.35);
}
#l3{
    background: rgb(0, 0, 255, 0.25);
}
#l4{
    background: rgb(0, 255, 0, 0.35);
}
#l5{
    background: rgb(255, 255, 0, 0.35);
}
#l6{
    background: rgb(255, 0, 0, 0.30);
}
#l7{
    background: rgb(255, 0, 0, 0.35);
}
#l8{
    background: rgb(255, 0, 0, 0.45);
}
